@model MVC_Proyecto.Models.Usuario
@{
    ViewData["Title"] = "MenuPrincipal";
}
<header class="hero2">
    <div class="textos-hero2">
        <h1>@ViewData["NombreUser"]</h1>
    </div>
    <div class="svg-hero" style="height: 100px; overflow: hidden;">
        <svg viewBox="0 0 500 100" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</header>
<div>
    <section class="info-last">
        <div class="contenedor last-section">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">Contactos</h2>
                <div style="max-height:350px; overflow:auto">
                    @foreach (var Item in ViewBag.Contactos)
                    {
                        <p>
                            @Item.Nombre (@Item.User)
                            @Html.ActionLink("Mostrar Chat", "MostrarChat", new { UChat = Item.User })
                        </p>
                    }
                </div>
                <a asp-action="OpcionContato">Agregar Contacto</a>

                <hr />
                <div>
                    @if (ViewBag.AgregarContacto == true)
                    {
                        <form asp-action="AgregarContacto">
                            <div class="form-group">
                                <label class="control-label">Usuario</label>
                                <input class="form-control " type="search" placeholder="Usuario" name="Texto">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Agregar Contacto" class="btn btn-dark" />
                            </div>
                        </form>
                    }
                    else if (ViewBag.FiltrarMensaje == true){

                        <form asp-action="BuscarMensaje">
                            <div class="form-group">
                                <input type="submit" value="Filtrar" class="btn btn-dark" />
                                <input class="form-control mr-sm-2" style="width:60%;margin-top: 10px;" placeholder="Filtrar" name="Filtro">
                            </div>
                        </form>
                    }
                </div>
            </div>
            @if (ViewBag.MostarChat == true)
            {
        <div class="chat">
            <div class="showchat" style="max-height:350px; overflow:auto">
                @foreach (var item in ViewBag.Chats)
                {
                    <div class="mensaje" style="border-radius:5px; color:#1a044e; background:#fff; margin: 2px; width:max-content;padding: 2px;padding-right: 8px;">
                        @item.Emisor : @item.Texto
                    </div>
                }
            </div>
            <div class="chatsend">
                <hr />
                @if (ViewBag.Enviar == true)
                {
                    <form asp-action="EnviarMensaje">
                        <div class="form-group">
                            <input class="form-control mr-sm-2" style="margin-bottom:2px;width: 160%;margin-bottom: 10px;" placeholder="Mensaje" name="Texto">
                            <input type="submit" value="Enviar" class="btn btn-outline-light my-2 my-sm-0" />
                            <input type="file" value="Subir Archivo" style="position: absolute;margin: 10px;" class="btn btn-outline-light my-2 my-sm-0" />
                        </div>
                    </form>
                }
                </div>
            </div>
            }
            else
            {
                <div class="chat"> </div>
            }
        </div>
        <hr />
        <div>
            <div style="padding:20px; padding-bottom: 30px">
                <a asp-action="Index" class="btn btn-outline-dark"> Cerrar Sesion</a>
                <a asp-action="Recargar" class="btn btn-outline-info"> Recargar</a>
            </div>
        </div>
    </section>  
</div>
